/target
/rs-lib/target
/wasm/target
/js/LICENSE
/js/import_map.d.ts
/js/import_map.js
/js/import_map.internal.js
/js/import_map.wasm

*.orig
*.pyc
*.swp

/.cargo_home/
/.idea/
/.vscode/

.DS_Store
.DS_Store?
