name: ci

on: [push, pull_request]

jobs:
  rust:
    name: import_map-${{ matrix.os }}
    if: |
      github.event_name == 'push' ||
      !startsWith(github.event.pull_request.head.label, 'denoland:')
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-16.04, windows-2019]

    env:
      CARGO_INCREMENTAL: 0
      GH_ACTIONS: 1
      RUST_BACKTRACE: full
      RUSTFLAGS: -D warnings

    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install rust
        uses: hecrj/setup-rust-action@v1.3.4
        with:
          rust-version: stable

      - name: Install clippy and rustfmt
        run: |
          rustup component add clippy
          rustup component add rustfmt

      - name: Rust cache
        uses: Swatinem/rust-cache@v1

      - name: Format
        if: contains(matrix.os, 'ubuntu')
        run: |
          rustfmt --check src/lib.rs

      - name: Build
        run: cargo build --locked --release --all-targets --all-features

      - name: Test
        run: |
          cargo test --locked --release --all-targets --all-features

      - name: Lint
        run: |
          cargo clippy --all-targets --all-features --release -- -D clippy::all

      - name: Publish
        if: |
          contains(matrix.os, 'ubuntu') &&
          github.repository == 'denoland/import_map' &&
          startsWith(github.ref, 'refs/tags/')
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          cargo publish -vv
